# ==============================
# Server
# ==============================
NODE_ENV=development
PORT=3000
API_PREFIX=/api/v1

# ==============================
# Database driver
# ==============================
DB_DRIVER=mongo

# ==============================
# MongoDB
# Локально:   mongodb://localhost:27017/hr_scheduler
# MongoDB Atlas: mongodb+srv://<user>:<password>@<cluster>.mongodb.net/hr_scheduler
# ==============================
MONGO_URI=mongodb://localhost:27017/hr_scheduler

# ==============================
# Logging
# ==============================
LOG_LEVEL=info

# ==============================
# CORS
# ==============================
CORS_ORIGIN=*
